:root {
  font-size: 19px;
}
body{
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar-track{
  background-color: black;
}
body::-webkit-scrollbar-thumb{
  background-color:red;
}
main {
  margin-top: 110px;
}
.navbar{
  width: 1920px;
  height:100px;
  position:fixed;
  background-color: red;
}
